*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.title{
    text-align: center;
    padding-top: 30px;
}
.me, .text_2{
    color: orange;
}

.button{
    background-color:orange;
    color: #FFF;
    border: 0;
    padding: 10px;
}
.number_1, .number_2, .number_3, .number_4, .number_5{
    left: 150px;
}
.two_part{
    padding: 50px;
}
.text{
    padding-left: 20px;
}

.image{
    border-style: solid;
    border-color: orange;
    padding: 5px;
}
.text_0{
    margin-bottom: 20px;
    margin-top: 20px;
}
.name, .age, .address, .phone{
    margin-bottom: 40px;
}

.email{
    margin-bottom: 30px;
}

