<template>
  <div class="container zag">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h1><b>ABOUT <span class="me">ME</span></b></h1>
          <div>kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</div>
          <div>kkkkkkkkkkkkkkkkkkkkkkk</div>
        </div>
      </div>
    </div>
    <div class="two_part">
    <div class="row">
      <div class="col-5">
        <div class="image">
          <img class="img" src="@/assets/image/1.jpg" alt="photo" width="100%" height="auto">
        </div>
      </div>
      <div class="col-7">
        <div class="text position-relative">
          <h2> <div class="hello"><b>Hello, I Am <span class="text_2">{{aboutMe[0]}}</span></b></div></h2>
          <div class="text_0">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
          nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
          nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
            oooooooooooooooooooooooooooooooooooooooooo
          </div>


          <div class="name"><b>Name</b><span class="number_1 position-absolute">:{{aboutMe[0]}}</span></div>
          <div class="age"><b>Age</b><span class="number_2 position-absolute">:{{aboutMe[1]}}</span></div>
          <div class="address"> <b>Address</b><span class="number_3 position-absolute">:{{aboutMe[2]}}</span></div>
          <div class="phone"><b>Phone Number</b><span class="number_4 position-absolute">:{{aboutMe[3]}}</span></div>
          <div class="email"><b>Email</b><span class="number_5 position-absolute">:{{aboutMe[4]}}</span></div>
          <button class="button">Download Sv</button>
        </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  data: function (){
    return{
      aboutMe : [
           'Roza Zotko',
           35,
           'Khmelnytsky',
            +380979349375,
            'Zamohylna@ukr.net'

      ]
    }
  }

}
</script>

<style>

</style>
